body {
    background: whitesmoke;
    font-family: arial;
}

header {
    background: whitesmoke;
    color: black;
    padding: 10px 15px 0 15px
}

header h1 {
    margin: 0;
    display: inline;
}

nav ul {
    margin: 0;
    display: inline;
}

.title {
    padding-right: 50px;
    font-family: 'Graduate', cursive;
    font-size: 40px;
}

.bannerImage {
    padding-top: 50px;
}

.bannerRow2 {
    display: inline;
}

.navButtonGroup .navButton {
    background: white;
    color: black;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    text-decoration: none;
    padding: 10px 20px;
    display: inline;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.5s;
}

.navButtonGroup .navButton:hover {
    background-color: black;
    color: white;
}

.bottomBanner {
    padding: 10px;
    background-color: black;
    color: white;
    font-family: 'Roboto Slab', serif;
}